<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= currentElection.electionname %> </h3>
    <div>
        
            <% for( let i = 0; i < data.length; i++ ) { %>
        <section>
            <h3>
                <%= data[i].queName %> 
            </h3>
            <ul>
                <% for( let j = 0; j < data[i].options.length; j++ ) { %>
                <li>
                    
                    <%= data[i].options[j].optName %> : <%= data[i].options[j].optCount %>
                </li>        
                <% } %>
            </ul>
        </section>
        <% } %>
        
    
    </div>
</body>
</html>