h1{
    text-align: center;
}
h6{
    font-size: medium;
}
button:hover{
    opacity: 1;
    background-color: aquamarine;
    
}
button{
    color: black;
    padding: 15px 38px;
    font-size: 20px;
    }
    

