h1{
    text-align:calc(30);
}
h3{
    color:brown;
}
h6{
    font-size: 30px;
    color:brown;
}
button:hover{
    opacity: 1;
    background-color:rgb(100, 164, 237);
    
}
body{
    font-size: 25px;
}
input[type=email],input[type=text],input[type=password]{
    border-radius: 5px;
    padding: 6px 20px;
    box-sizing: border-box;
}
button{
    font-size: 18px;
    width: 100px;
    height: 42px;
}

